@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bs-body-font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --title-font: "Oswald", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #14060d;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: rgb(245, 173, 67);
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-border-color: rgb(245, 173, 67);
  --bs-border-color-translucent: rgba(245, 173, 67, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --etched: rgb(92, 62, 17);
}

.navbar-dark,
.navbar[data-bs-theme="dark"] {
  --bs-navbar-color: rgb(255, 255, 255);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --bs-navbar-toggler-icon-bg: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 30 30"%3e%3cpathstroke="rgba%28255, 255, 255, 0.55%29"stroke-linecap="round"stroke-miterlimit="10"stroke-width="2"d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e
  );
}

.btn-outline-primary {
  --bs-btn-color: #f5ad43;
  --bs-btn-border-color: #f5ad43;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f5ad43;
  --bs-btn-hover-border-color: #f5ad43;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f5ad43;
  --bs-btn-active-border-color: #f5ad43;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f5ad43;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f5ad43;
  --bs-gradient: none;
}

.rating span {
  color: #f5ad43;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: relative;
}

div .dropdown-menu {
  position: relative; /* Ensure it's a positioned container */
  z-index: 4;
  --bs-dropdown-padding-y: 0;
}

.dropdown-menu.show {
  position: absolute;
  top: 100%; /* Position the dropdown below the navbar */
  left: 0; /* Align the left side of the dropdown with the left side of the navbar */
}

.landingPage.dark {
  background-image: url(./assets/idea-lightbulb-soma-background.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.landingPage.light {
  background-image: url(./assets/glowing-glass-light-bulb-background_488220-26013.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.form-control {
  width: 70%;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  color: var(--bs-emphasis-color);
  border-radius: 2rem;
  height: 2rem;
  font-size: 0.8rem;
}

.btn {
  height: 2rem;
}

.first-letter {
  font-size: 4rem;
}

h1 {
  text-shadow: 3px 3px 2px var(--etched);
}

.card {
  align-items: center;
  justify-content: center;
}
